/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('./assets/fonts/Lato-Bold.woff2') format('woff2'),
    url('./assets/fonts/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
    url('./assets/fonts/Lato-Black.woff2') format('woff2'),
    url('./assets/fonts/Lato-Black.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url('./assets/fonts/Lato-Light.woff2') format('woff2'),
    url('./assets/fonts/Lato-Light.woff') format('woff');
}
