@import 'fonts.css';

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  max-width: 1020px;
}

h2 {
  font-size: 3rem;
  line-height: 1.8rem;
  font-weight: 900;
}

.get-a-quote {
  background-color: #f06c64;
  color: #f0d8d9;
}

.get-a-quote__wrapper {
  padding: 69px 40px 12px;
}

.get-a-quote__main {
  display: flex;
  padding-top: 4px;
}

.get-a-quote__title {
  letter-spacing: -0.2px;
}

.get-a-quote__description {
  margin: 26px 0;
  line-height: 3rem;
  word-spacing: -2.3px;
}

.textarea {
  resize: none;
}

.input {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f48c8f;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #d6564f;
  background-color: #d6564f;
  margin: 16px 0 0;
  padding: 7px 13px;
  width: 591px;
  letter-spacing: -0.2px;
}

.submit {
 width: 619px;
}

.textarea {
  height: 186px;
}

.input::placeholder,
.textarea::placeholder {
  color: #f48c8f;
}

.contact-info {
  padding: 16px 0 0 21px;
}

.contact-info__title {
  letter-spacing: 0.4px;
}

.contact-info__description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding: 9px 0;
  text-align: justify;
  letter-spacing: -0.2px;
}

.contact-info__main {
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding: 14px 0;
}

.contact-info__item_location a::before {
  content: url(assets/images/ico-location-pin.svg);
  padding: 0 13px 0 3px;
}

.contact-info__item_phone a::before {
  content: url(assets/images/ico-phone-contacts.svg);
  padding: 0 10px 0 2px;
}

.contact-info__item_mail a::before {
  content: url(assets/images/ico-mail.svg);
  padding-right: 10px;
}

.contact-info__main a {
  text-decoration: none;
  color: #f0d8d9;
}

.get-a-quote__bottom {
  background-color: #ea676b;
  height: 6px;
}

.footer {
  display: flex;
  align-items: center;
  height: 76px;
  background-color: #2d303a;
  color: #666d89;
  font-size: 1.2rem;
}

.copyright {
  padding-left: 41px;
}

.social-links {
  display: flex;
  margin-left: auto;
  padding-right: 32px;
}

.link {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  border: 1px solid #666d89;
  border-radius: 20px;
}

.link_facebook {
  background-image: url("assets/images/facebook.svg");
  background-size: 9px;
}

.link_facebook:hover {
  background-image: url("assets/images/facebook-hovered.svg");
  border: 1px solid rgb(0, 0, 0);
}

.link_google {
  background-image: url("assets/images/google+.svg");
}

.link_google:hover {
  background-image: url("assets/images/google-hovered.svg");
  border: 1px solid rgb(0, 0, 0);
}

.link_twitter {
  background-image: url("assets/images/twitter.svg");
}

.link_twitter:hover {
  background-image: url("assets/images/twitter-hovered.svg");
  border: 1px solid rgb(0, 0, 0);
}

.link_linkedin {
  background-image: url("assets/images/linkedin.svg");
}

.link_linkedin:hover {
  background-image: url("assets/images/linkedin-hovered.svg");
  border: 1px solid rgb(0, 0, 0);
}
