@import "fonts.css";
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.65px;
  color: #fff;
}

h1 .logo-additional {
  color: #f06c64;
}

h4 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

.wrapper {
  width: 1020px;
}

.header {
  width: inherit;
}

.header-main {
  background-color: #2d303a;
  display: flex;
  text-align: left;
  text-transform: uppercase;
  height: 25px;
  padding: 32px 0 32px;
}

.header-bottom {
  width: inherit;
  height: 6px;
  background-color: #323746;
  position: absolute;
  top: 89px;
  z-index: 12000;
}

.logo {
  padding: 0 0 0 40px;
}

.navigation {
  display: flex;
  width: 372px;
  justify-content: space-between;
  padding: 11px 0 0 452px;
}

.navigation li {
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #494e62;
}

.navigation .selected a {
  color: #f06c64;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  color: #f06c64;
}

.slider {
  width: inherit;
}

.slider__main {
  height: 600px;
  background-color: #f06c64;
  position: relative;
  z-index: 11000;
}

.slider-bottom {
  width: inherit;
  height: 15px;
  background-color: #ea676b;
  position: absolute;
  top: 680px;
  z-index: 10000;
}

.prev,
.next {
  width: 60px;
}

.prev button {
  background-color: inherit;
  border: none;
  background-image: url(assets/images/prev.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 27px;
  position: relative;
  top: 287px;
  left: 42px;
}

.next button {
  background-color: inherit;
  border: none;
  background-image: url(assets/images/next.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 27px;
  position: relative;
  top: 260px;
  left: 964px;
}

.prev button:hover {
  background-image: url(assets/images/prev-hover.png);
}

.next button:hover {
  background-image: url(assets/images/next-hover.png);
}

.prev button:focus,
.next button:focus {
  outline: none;
}

.iphone-vertical {
  position: relative;
  left: 110px;
  top: -65px;
}

.iphone-horizontal {
  position: relative;
  left: 360px;
  top: -561px;
}

h3 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

.services {
  width: inherit;
  margin-top: 6px;
  height: 495px;
  background-color: #f2f2f2;
}

.services__wrapper {
  padding: 69px 0 0 40px;
}

.services__description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  padding: 27px 41px 0 0;
  letter-spacing: -0.21px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  padding: 46px 0 0 0px;
}

.service {
  display: flex;
  width: 307px;
  margin: 0 13px 31px 0;
}

.service__description {
  padding: 0 9px 0 10px;
}

.icon {
  width: 70px;
  height: 70px;
  display: inline-block;
}

.icon_custom-design {
  background-image: url(assets/images/pen.svg);
  background-repeat: no-repeat;
}

.icon_inovative-ideas {
  background-image: url(assets/images/bulb.svg);
  background-repeat: no-repeat;
}

.icon_love-is-the-answer {
  background-image: url(assets/images/heart.svg);
  background-repeat: no-repeat;
}

.icon_responsive-layout {
  background-image: url(assets/images/phone.svg);
  background-repeat: no-repeat;
}

.icon_24-7-support {
  background-image: url(assets/images/bubble.svg);
  background-repeat: no-repeat;
}

.icon_feel-like-a-star {
  background-image: url(assets/images/star.svg);
  background-repeat: no-repeat;
}

.service__description p {
  font-weight: 400px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  padding-top: 9px;
  text-align: justify;
}

.services-bottom {
  width: inherit;
  height: 6px;
  background-color: #fff;
  position: relative;
  top: 30px;
}

.support {
  word-spacing: -2px;
}

/*# sourceMappingURL=singolo1.css.map */
